extends ../layout/main

block variables
    - var title = 'Webpack + Pug';
    - var description = "desript for webpack";
    - var pageClass = "index-page";

block content
    section
        .containter
            h1 fdsfds fsdfs
            p fdsf dsf dsf s
            +item('item titile','item description')
    section
        .containter
            h1 fdsfds fsdfs
            p fdsf dsf dsf s
    section
        .containter
            h1 fdsfds fsdfs
            p fdsf dsf dsf s
    

