// Font
$mainFont                : 'Ys-Regular', 'HelveticaNeueCyr-Black', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 20px;
$mainFontWeight          : 300;
$mainLineHeight          : 1.4;

$desktopWidth            : 1920px;
$desktopTextAdaptive     : 1450px;
$smDesktopWidth          : 1080px;
$tableWidth              : 920px;
$phoneWidth              : 620px;
$smPhoneWidth            : 430px;

// main color 
$black-color             : #000000;
$white-color             : #ffffff;
$backOrange-color        : #EC6133;

// home color
$homeGray-color          : #9A9A9A;
$homeTextBlack-color     : #232323;


// test color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Custom fonts result
$result                  : #2484ed;
$result-titl             : #fcda31;
$result-text             : #ffffff;